.circle{
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid white;
}

.circle > img{
    pointer-events: none;
    /*Centre the image horizontally*/
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}