.square{
    overflow: hidden;
    border: 10px solid white;
}

.square > img{
    pointer-events: none;
    /*Centre the image horizontally*/
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}