@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

body{
  margin: 80px 40px 80px 40px;
  background-image: linear-gradient(180deg, #3856BF 0%, #E57E67 100%);
}

h1{
  font-size: 72px;
  font-weight: 800;
}

h3{
  font-size: 24px;
  font-weight: 400;
}

.collaboration{
  transform: translate(-11%, -11%);
  width: 390px;
}

.graduation{
  transform: translate(0, -20%);
  width: 320px;
}

.red-building{
  transform: translate(-9.5%, -40%);
  width: 320px;
}